In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("kaggle.csv")

In [3]:
len(df)

8675

In [4]:
new_df=df[:6675]

In [5]:
new_df.head()

   type                                               text  split  id
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...      5   0
1  ENTP  'I'm finding the lack of me in these posts ver...      4   1
2  INTP  'Good one  _____   https://www.youtube.com/wat...      2   2
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...      2   3
4  ENTJ  'You're fired.|||That's another silly misconce...      1   4

In [6]:
df.head()

   type                                               text  split  id
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...      5   0
1  ENTP  'I'm finding the lack of me in these posts ver...      4   1
2  INTP  'Good one  _____   https://www.youtube.com/wat...      2   2
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...      2   3
4  ENTJ  'You're fired.|||That's another silly misconce...      1   4

In [7]:
new_df.to_csv("kaggle_train.csv")

In [8]:
val_df_kaggle=df[6675:7675]
test_df_kaggle = df[7675:8675]

In [9]:
val_df_kaggle.to_csv("kaggle_val.csv")
test_df_kaggle.to_csv("kaggle_test.csv")

In [11]:
df2 = pd.read_csv(r"C:\Users\Srinu\Desktop\personality-prediction-master\personality-prediction-master\data\kaggle\psycholinguist_features/kaggle_nrc.csv")

In [13]:
df2.head()

,id,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
0,0,0.262136,0.038835,0.019417,0.174757,0.019417,0.048544,0.174757,0.038835,0.067961,0.194175
1,1,0.173077,0.147436,0.076923,0.102564,0.032051,0.083333,0.089744,0.070513,0.064103,0.096154
2,2,0.251908,0.091603,0.045802,0.091603,0.053435,0.076336,0.137405,0.061069,0.045802,0.145038
3,3,0.219178,0.102740,0.061644,0.089041,0.013699,0.034247,0.068493,0.061644,0.027397,0.136986
4,4,0.216216,0.148649,0.054054,0.155405,0.060811,0.060811,0.108108,0.067568,0.074324,0.114865

In [14]:
val_df_kaggle_nrc=df2[6675:7675]
test_df_kaggle_nrc = df2[7675:8675]
train_df_kaggle_nrc = df2[:6675]

In [18]:
test_df_kaggle.tail()

      type                                               text  split    id
8670  ISFP  'https://www.youtube.com/watch?v=t8edHB_h908||...      0  8670
8671  ENFP  'So...if this thread already exists someplace ...      8  8671
8672  INTP  'So many questions when i do these things.  I ...      8  8672
8673  INFP  'I am very conflicted right now when it comes ...      1  8673
8674  INFP  'It has been too long since I have been on per...      2  8674

In [19]:
train_df_kaggle_nrc.to_csv("kaggle_nrc_train.csv")
val_df_kaggle_nrc.to_csv("kaggle_nrc_val.csv")
test_df_kaggle_nrc.to_csv("kaggle_nrc_test.csv")

In [21]:
df3 = pd.read_csv(r"C:\Users\Srinu\Desktop\personality-prediction-master\personality-prediction-master\data\kaggle\psycholinguist_features/kaggle_nrc_vad.csv")

In [22]:
df3.head()

   id   Valence   Arousal  Dominance
0   0  0.631826  0.409118   0.526965
1   1  0.611519  0.436926   0.519175
2   2  0.650629  0.430742   0.541258
3   3  0.625537  0.428727   0.542950
4   4  0.591790  0.437538   0.527210

In [24]:
val_df_kaggle_nrc_vad=df3[6675:7675]
test_df_kaggle_nrc_vad = df3[7675:8675]
train_df_kaggle_nrc_vad = df3[:6675]

In [25]:
train_df_kaggle_nrc_vad.to_csv("kaggle_nrc_vad_train.csv")
val_df_kaggle_nrc_vad.to_csv("kaggle_nrc_vad_val.csv")
test_df_kaggle_nrc_vad.to_csv("kaggle_nrc_vad_test.csv")

In [26]:
df4 = pd.read_csv(r"C:\Users\Srinu\Desktop\personality-prediction-master\personality-prediction-master\data\kaggle\psycholinguist_features/kaggle_readability.csv")

In [27]:
df4.head()

,id,Kincaid,ARI,Coleman-Liau,FleschReadingEase,GunningFogIndex,LIX,SMOGIndex,RIX,DaleChallIndex,...,complex_words_dc,tobeverb,auxverb,conjunction,pronoun,preposition,nominalization,interrogative,article,subordination
0,0,-0.259458,1.139057,1.029444,-0.266801,-0.416096,0.530164,-0.653305,-0.458143,2.674008,...,-0.458872,-1.922989,-1.649380,-0.284806,-0.336879,-0.279837,-0.195231,-0.212199,-0.233147,-0.228691
1,1,-1.046103,-0.515608,-0.405475,1.304003,-0.710199,-0.913165,-0.684843,-0.623419,0.787285,...,0.778243,-0.474112,-0.314930,-0.284806,0.097618,-0.279837,-0.195231,-0.212199,-0.233147,-0.228691
2,2,0.642094,1.135332,1.280228,-0.529976,0.546547,0.817200,0.685600,0.885053,0.514070,...,-1.047402,-0.978069,0.218850,-0.284806,-0.336879,-0.279837,-0.849456,-0.212199,-0.233147,-0.228691
3,3,-0.130126,-0.421435,-0.305673,0.092423,0.438713,-0.182076,0.464843,-0.178283,0.407148,...,-0.158601,-0.033149,-0.982155,-0.284806,-0.336879,-0.279837,0.295438,-0.212199,-0.233147,-0.228691
4,4,0.219124,0.708799,0.897349,-0.393365,0.516740,0.010675,0.514292,-0.092880,0.408867,...,-0.482893,1.226744,-0.581820,-0.284806,-0.336879,-0.279837,0.131882,-0.212199,-0.233147,-0.228691

In [28]:
val_df_kaggle_readability = df4[6675:7675]
test_df_kaggle_readability = df4[7675:8675]
train_df_kaggle_readability = df4[:6675]

In [29]:
train_df_kaggle_readability.to_csv("kaggle_readability_train.csv")
val_df_kaggle_readability.to_csv("kaggle_readability_val.csv")
test_df_kaggle_readability.to_csv("kaggle_readability_tet.csv")